<div id="header">
  <img class="logo" src="/img/logo.svg" alt="" srcset="">
</div>
<div id="editor">
  <div id="left-container" class="split split-horizontal">
    <div id="html-container" class="split editor-block"></div>
    <div id="js-container" class="split editor-block"></div>
  </div>
  <div id="right-container" class="split split-horizontal">
    <div id="css-container" class="split editor-block"></div>
    <div id="preview-container" class="split editor-block"></div>
  </div>
</div>