<div id="container"></div>

 <div id="a" class="split split-horizontal">
      <div id="c" class="split content"></div>
      <div id="d" class="split content"></div>
    </div>
    <div id="b" class="split split-horizontal">
      <div id="e" class="split content"></div>
      <div id="f" class="split content"></div>
    </div>