<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/font/iconfont.css">
  <script src="/js/split.js"></script>
  <script src="/js/bulma-toast.min.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/monaco-editor/min/vs/loader.js"></script>
</head>

<body>
  {{{body}}}
</body>
<script src="/js/main.js"></script>

</html>