#header {
  height: 60px;
  width: 100vw;
  background: #1c2128;
}

.logo {
  width: 40px;
  margin: 10px 0 10px 10px;
}

#editor {
  height: calc(100vh - 60px);
}

.split {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.editor-block, .monaco-editor-background{
  background-color: #20262e;
  overflow: hidden;
}

.gutter {
  background-color: #2d333b;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}
.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
